QWidget { 
    padding: 20px;
    margin: 0;
    font-size: 12px;
    font-family: "Consolas", monospace;
    background-color: #8FB9A8; 
}
QLabel {
    padding: 0;
    font-size: 25px;
    color: #1c233f;
}
QCheckBox {
    padding: 15px;
    border: 1px solid #303C6C;
    background-color: #D1E8E2;
}
QCheckBox:hover {
    border: 1px solid #5e4c4c;
    background-color: #b7cec7;
}
QLineEdit {
    border: none;
    padding: 15px 20px;
    background-color: #D1E8E2;
}
QPushButton {
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 15px;
    background-color: #303C6C;
    color: #D1E8E2;
}
QPushButton:hover {
    background-color: #21294b;
}
